@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Hahmlet:wght@100..900&family=Shrikhand&family=Yeseva+One&display=swap');

*{margin: 0; padding: 0px; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ol, li, ul{list-style: none;}
img{vertical-align: baseline;}
table{border-collapse: collapse;}
html, body{font-size: 14px; color: #444;
    font-family: "Yeseva One", serif, "Hahmlet", serif;}


